#host = host do banco || nomebanco = nome do banco
spring.datasource.url=jdbc:postgresql://host:5432/nomebanco
#credencial conexao nome
spring.datasource.username=nomeacesso
#credencial conexao senha
spring.datasource.password=senhabanco

spring.jpa.show-sql=false
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update